global-include Makefile *.py *.rst *.txt
include docs/genapidocs COPYING ChangeLog MANIFEST.in TODO mk-distr
include demo/sample.sql scripts/mysql2sql
recursive-include docs *.css *.js *.html *.gif *.png
